{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="none" />
        <meta name="keywords" content="none" />
        <title>Todo list</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <div class="container">
            <h1>Done list</h1>
            <p>
                <a href="{% url 'todo_list' %}" class="btn btn-primary">홈으로</a>
            </p>
            <ul class="list-group">
                {% comment %} {% for todo in todos %}
                    <li class="list-group-item">
                        <a href="{% url 'todo_detail' pk=done.pk %}">{{ todo.title }}</a>
                        {% if todo.important %}<span class="badge badge-danger">!</span>{% endif %}
                    </li>
                {% endfor %} {% endcomment %}
                {% for todo in todos %}
                    {{ todo.title }}
                    {{ todo.description }}
                    {{ todo.important }}
                    {{ todo.created }}
                    <br />
                {% endfor %}
                {% lorem %}
                {% lorem 3 p %}
                {% lorem 2 w random %}
            </ul>
        </div>
    </body>
</html>
